.zd-datepicker {
    display: none;
    width: 193px;
    padding: 0 5px 5px;
    z-index: 12;
    color: #bbb;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px #d9d9d9;
       -moz-box-shadow: 0 2px 5px #ddd;
            box-shadow: 0 2px 5px #d9d9d9;
}

.zd-datepicker-header {
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 3px 5px;
    line-height: 36px;
    text-align: center;
}

.zd-datepicker-header .btn-prev-month,
.zd-datepicker-header .btn-next-month {
    position: absolute;
    top: 0;
    width: 24px;
    height: 35px;
    background-image: url(./imgs/icon_sprites.png);
    background-repeat: no-repeat;
}

.zd-datepicker-header .btn-prev-month {
    left: -5px;
    background-position: 8px -77px;
}

.zd-datepicker-header .btn-prev-month:hover {
    background-position: 8px 10px;
}

.zd-datepicker-header .btn-next-month {
    right: -5px;
    background-position: 8px -125px;
}

.zd-datepicker-header .btn-next-month:hover {
    background-position: 8px -32px;
}

.zd-datepicker-body {
    line-height: 20px;
}

.zd-datepicker-body th {
    font-weight: normal;
    line-height: 24px;
}

.zd-datepicker-body td {
    cursor: pointer;
    color: #afafaf;
    text-align: center;
}

.zd-datepicker-body td a {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    color: #666;

    line-height: 18px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-decoration: none;
}

.zd-datepicker-body td.current-month a:hover {
    border-color: #00a06a;
    color: #fff;
    background-color: #00a06a;
}

.zd-datepicker-body td.current a {
    border-color: #bbb;
    background-color: #f2f2f2;
}

.zd-datepicker-body td.selected a {
    color: #fff;
    border-color: #00a06a;
    background-color: #00a06a;
}

.zd-datepicker-body td.disabled,
.zd-datepicker-body td.disabled a {
    cursor: not-allowed;
}

.zd-datepicker-body td.disabled a:hover {
    color: #666;
    cursor: not-allowed;
    border-color: #fff;
    background-color: #fff;
}

