body {
    font-family: arial,'pingfang sc',stheiti,'microsoft yahei', sans-serif;
    font-size: 14px;

    word-wrap: break-word;
    word-break: break-all;

    color: #333;
    background: #fff;
}
body,
div,
p,
h2,
h3,
h4,
p,
form,
ol,
ul,
li,
dl,
dt,
dd,
th,
td {
    margin: 0;
    padding: 0;
}
h2,
h3,
h4 {
    font-size: 100%;
}
ol,
ul {
    list-style-type: none;
}
img {
    vertical-align: top;

    border: 0;
}
table {
    border-collapse: collapse;
}
a {
    cursor: pointer;
    text-decoration: none;

    color: #333;
    outline: none;
}
em {
    font-style: normal;

    color: #00a06a;
}
input {
    font-family: arial,'pingfang sc',stheiti,'microsoft yahei', sans-serif;
    font-size: 14px;

    outline: none;
}
a:hover,
a:hover em {
    text-decoration: underline;
}
a:visited {
    color: #666;
}
